/waver
/midisynth
/controller
/surfer
/wasm/server
/public
*.wasm.gz
node_modules
/wasm/static/assets/addon/
/wasm/static/assets/lib/
/wasm/web/app.wasm
/wasm/pwa
/wasm/waver
/vendor
/result
.*.sw[op]
